version: '3.8'

services:
  php:
    build:
      context: docker/dockerfiles
      dockerfile: PhpDocker
      args:
        - DOCKER_USERNAME=${USERNAME}
        - DOCKER_UID=${USERID}
        - DOCKER_PHP_VERSION=${DOCKER_PHP_VERSION}
        - DOCKER_COMPOSER_VERSION=${DOCKER_COMPOSER_VERSION}
    env_file:
      - .env
    volumes:
      - ./src/PHP:/var/www
      - ./docker/php-ini:/usr/local/etc/php
      - ./docker/xdebug-ini/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      - ./docker/sampler:/usr/local/etc/sampler
    container_name: ${CONTAINER_NAME_PHP}
    restart: unless-stopped
    networks:
      - DevEnvNetworkExternal
    tty: true
    stdin_open: true
    links:
      - mysql:database
    environment:
      PHP_INI_SCAN_DIR: "/usr/local/etc/php/custom.d:/usr/local/etc/php/conf.d"

networks:
  DevEnvNetworkExternal:
    external: true
    name: DevEnvNetwork